@use '@angular/material' as mat;
table {
  @include mat.table-overrides(
    (
      background-color: white,
    )
  );
}

mat-paginator {
  @include mat.paginator-overrides(
    (
      container-background-color: white,
    )
  );
}

mat-form-field {
  @include mat.form-field-overrides(
    (
      filled-container-color: white,
    )
  );
}

mat-card {
  @include mat.card-overrides(
    (
      filled-container-color: white,
      elevated-container-color: white,
    )
  );
}

.red {
  color: red;
}

.green {
  color: green;
}
